// @use "/src/sass/pxtorem.scss" as *;

.promo {
    padding-top: 50px;
    position: relative;

    &__wrapper {
        margin-top: 50px;
    }

    &__title {
        padding: 0 5px;
        text-align: center;
    }

    &__cta {
        margin-top: 40px;
    }

    &__img {
        margin: 0 auto;
        width: 270px;
        height: 377px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

    }

    &__btn {
        margin: 18px auto 0 auto;
    }

    &__potter {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .promo {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__cta {
            margin-top: 0px;
        }

        &__img {
            width: 230px;
            height: 321px;
        }

        &__title {
            padding-top: 250px;
            padding-left: 71px;
            text-align: left;

        }
    }
}

@media screen and (min-width: 1200px) {
    .promo {
        &__potter {
            display: block;
            width: 450px;
            height: 633px;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        &__title {
            padding-left: 571px;
            animation: slideOn;
            animation-duration: 3s;
        }

        &__cta {
            animation: slideIn;
            animation-duration: 3s;
        }
    }
}

@keyframes slideOn {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }

}

@media screen and (min-width: 1920px) {
    .promo {
        padding-top: 40px;

        &__potter {
            width: 640px;
            height: 900px;
        }

        &__wrapper {
            margin-top: 79px;
        }

        &__img {
            width: 330px;
            height: 460px;
        }

        &__btn {
            margin-top: 50px;
        }

        &__title {
            padding-top: 384px;
            padding-left: 642px;
        }
    }
}